$text-color: #fff;
$second-text-color: #2e2e2f;
$third-text-color: #2d2d2d;
$fourth-text-color: #c39d65;
$input-text-color: #aeaeaf;
$btn-active-color: #569434;
$primary-attention-color: #d65b48;


$primary-gradient: linear-gradient(90.24deg, #C39D65 -53.59%, #D5AF76 -7.12%, #EBC389 20.47%, #CFA870 58.94%, #C39D65 85.81%);
$btn-gradient: linear-gradient(85.08deg, #569434 -11.21%, #6AAB46 15.54%, #77BA53 41.42%, #7BBE57 61.67%, #91D36C 86.91%, #A4E67E 100.4%);
$dark-card-gradient: linear-gradient(113.64deg, #4E4E4E 14.16%, #2E2E2F 76.67%);
$area-info-gradient: linear-gradient(136.66deg, #FFFEFA 19.49%, #F6F1E3 66.6%);
$hero-history-gradient: linear-gradient(113.64deg, #4E4E4E 14.16%, #2E2E2F 76.67%);

$primary-bg-color: #fff;
$secondary-bg-color: #f4f4f4;

$main-font-family: 'Rubik', 'Arial', sans-serif;
$secondary-font-family: 'Lato', 'Arial', sans-serif;
$third-font-family: 'Montserrat', 'Arial', sans-serif;