@use '../main.scss' as *;

.business-model {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2.188em;
  background-image: url('../img/business-model-bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 1910px) {
    background-size: cover;
  }

  @media screen and (max-width: 970px) {
    margin-top: 0;
    padding-top: 2em;
  }

  &__container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 13.938em 1em 0;

    @media screen and (max-width: 970px) {
      padding: 0 1em;
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin-bottom: 2.188em;

    @media screen and (max-width: 1230px) {
      padding: 0 1em;
    }

    @media screen and (max-width: 1054px) {
      align-items: center;
    }

    @media screen and (max-width: 970px) {
      align-items: center
    }

    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }

  &__heading-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.25em;

    @media screen and (max-width: 1054px) {
      align-items: center;
      text-align: center;
    }
  }

  &__heading {
    max-width: 19.9em;
    margin: 0;
    color: $second-text-color;
    @include font-h2;

    @media screen and (max-width: 600px) {
      font-size: 1.5em;
    }
  }

  &__heading-span {
    color: $primary-attention-color;
  }

  &__info {
    max-width: 49.944em;
    margin: 0;
    @include font-h5;
    font-weight: 400;
    color: $third-text-color;
  }

  &__info-span {
    font-weight: 600;
  }
}